{% extends "base.html" %}

{% block title %}
    Workout Tracker : Dashboard
{% endblock %}

{% block head %}
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'styles/workoutstyles.css') }}">
{% endblock%}

{% block content %}
<div class = "default">
    <div class = "title">
        <h1>Welcome {{ currentUser }}</h1>
        <h2>Dashboard</h2>
        <!-- Displays the time since the last workout -->
        {% if timeSinceLastWorkout %}
            <p>Time since last workout: {{ timeSinceLastWorkout }}</p>
        <!-- Displays a message if no workouts have been logged -->
        {% else %}
            <p>No workouts logged yet.</p>
        {% endif %}
    </div>
</div>  
{% endblock%}

