{% extends "base.html" %}

{% block title %}
Workout Tracker : {{ exerciseName }} Progress
{% endblock %}

{% block head %}
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'styles/workoutstyles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock%}

{% block content %}
    <h1>{{ exerciseName }} Progress</h1>

    <!-- defines the area where the chart will be drawn -->
    <div style="width: 60%; height: 60%;">
        <canvas id="progressChart"></canvas>
    </div>

    <script>
        // converts the the dates into JSON format so that javascript can read it
        const dates = {{ dates | tojson }};
        const weights = {{ weights | tojson }};

        // assigns the canvas to a variable
        const progressChart = document.getElementById("progressChart");

        // creats the line chart using chart.js
        new Chart(progressChart, {
            type: "line",
            data: {
                labels: dates,
                datasets: [{
                    label: "Highest weight lifted each workout",
                    data: weights,
                    tension: 0.25
                }]
            },
            // customisation for the axes
            options: {
                responsive: true,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: "Date"
                        }
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: "Weight"
                        }
                    }
                }
            }
        });
    </script>

{% endblock %}

