{% extends "base.html" %}

{% block title %}
Workout Tracker : Sign-in
{% endblock %}

{% block content %}
<div>
    <h1>Workout Tracker</h1>
    <h2>Sign-In</h2>
    <!-- User sign in form -->
    <form>
        <!-- Username input field -->
        <div>
            <label for="username">Username:</label>
            <input name="username" id="username" type="text" />
        </div>
        <!-- Password input field, masked for security -->
        <div>
            <label for="password">Password:</label>
            <input name="password" id="password" type="password" />
        </div>
        <!-- Form submission button-->
        <div>
            <input type = "submit" value = "Sign-In" />
        </div>
    </form>
    <!-- Link to registration page for new users -->
    <p>No account? <a href = "/signup">click here to sign-up</a></p>
</div>
{% endblock%}

