{% extends "base.html" %}

{% block title %}
    Workout Tracker : Workouts
{% endblock %}

{% block head %}
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'styles/workoutstyles.css') }}">
{% endblock%}

{% block content %}
    <h1>Welcome {{ currentUser }}</h1>
    <h2>Select a template to log a workout</h2>

    <!-- uses a loop to display each template for the user to click on -->
    <ul>
        {% for t in templates %}
            <li><a href="{{ url_for('pages.log_workout', templateID = t[0]) }}">{{ t[1] }}</a></li>
        {% endfor %}
    </ul>
    <!-- error message if there are no templates -->
    {% if not templates %}
        <p>You have not created any workout templates yet.</p>
    {% endif %}

    {% for message in messages%}
        <p class = "error">{{ message }}</p>
    {% endfor %}

{% endblock%}

