{% extends "base.html" %}

{% block title %}
    Workout Tracker : Templates
{% endblock %}

{% block head %}
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'styles/workoutstyles.css') }}">
{% endblock%}

{% block content %}
    <h1>Welcome {{ currentUser }}</h1>
    <h2>Workout Templates</h2>

    <div class="templates-container">
        {% for t in templates %}
            <div class="template-row">
                <span>{{ t[1] }}</span>

                <form action="{{ url_for('pages.delete_template', templateID = t[0]) }}" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </div>
        {% endfor %}
    </div>

    <a href="{{ url_for('pages.create_template') }}"><button type="button">Create New Template</button></a>
{% endblock%}

