:root{
    --main-bg-colour: #ffffff;
    --main-fg-colour: #000000;
    --secondary-bg-colour: #ffffff;
    --secondary-fg-colour: #000000;
    --button-colour: #b9cee3;
    --button-colour-hover: #bed0e6;
    --border-colour: #000000;
    --error-message-colour: #a82626;
    --topbar-colour: #e8e7e7;
    --border-colour: #2a5cad;
}

