.container{
    background-color: var(--secondary-bg-colour);
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 270px;
    border-color: var(--border-colour);
    border-radius: 5px;
    border: solid;
}

.title{
    font-size: 45px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

input{
    padding: 5px;
    border-color: var(--border-colour);
    border-radius: 3px
}

input[type="submit"]{
    background-color: var(--button-colour);
}

input[type="submit"]:hover{
    background-color: var(--button-colour-hover);
}

.error{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: var(--error-message-colour)
}
